::ng-deep .owl-nav {
        position: absolute;
        top: 50%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: none;
}
:host::ng-deep .content-body {
    background-color: none;
    color: #f5cf49;
    }
   
    

.content-banner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: aliceblue;
    width: 100%;
    padding: 0 250px;

    .name-movie {
        font-size: 50px;
        text-transform: uppercase;
    }

    p {
        padding-bottom: 30px;
    }

    .play-trailer {
        background: rgba(17, 17, 17, 0.5);
        font-size: 30px;
        font-weight: 600;
        border: #f5cf49 solid 2px;
        border-radius: 10px;
        padding: 8px 19px;
        width: fit-content;
        color: aliceblue;

        &:hover {
            background-color: #f5cf49;
        }
    }

    .left-content {
        padding: 20px;
    }

    .right-content {
        padding: 20px;

        img {
            height: 600px;
            object-fit: cover;
            border-radius: 15px;
            width: 700px;
        }
    }

}

.bgr-banner {
    width: auto;
    height: 700px;
    object-fit: cover;
    opacity: 0.3;
}

.owl-prev {
    background: red;
}