footer {
    background-color: #111111;

    .footer-main {
        background-image: url(https://uiparadox.co.uk/templates/animeloop/demo/assets/media/footer/footer-bg.png);

        .col-6 {
            padding: 50px 0;   
            justify-content: space-between;      
        }        
       a:hover {
            color: blueviolet;
        }
    }
}