<div class="container">
    <h2>{{title}}</h2>
    <div class="items _dis-f">
        <ng-container *ngFor="let item of data">
            <div class="card-item">
                <div class="card-img">
                    <img src="https://image.tmdb.org/t/p/w300{{item['poster_path']}}"> <br>
                    <a class="play-now" [routerLink]="'/movie/' + item['id']"><i class="fa-solid fa-circle-play">
                            Play Now</i></a>
                </div>
                <div class="content">
                    <div class="title"><a [routerLink]="'/movie/' + item['id']">
                            <h3>{{item['original_title']}}</h3>
                        </a></div>
                    <div class="tag">
                        <div class="left _dis-f">
                            <div class="dub">DUB</div>
                            <div class="sub">SUB</div>
                            <p>TV</p>
                        </div>
                        <div class="right">
                            <div class="dropdown">
                                <div class="drop-menu"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                                <div class="dropdown-content">
                                    <a href="#"><i class="fa-solid fa-check"></i>Watch Later</a>
                                    <a href="#"><i class="fa-solid fa-plus"></i>Add to Playlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>