<div class="row _dis-f">
    <div class="col">
        <img class="avatar-img"
            src="https://uiparadox.co.uk/templates/animeloop/demo/assets/media/comment/comment-img-2.png">
    </div>
    <div class="col _p-10">
        <div class="username"><b>@username</b> 5 minutes ago</div>
        <div class="content-comment">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.</div>
        <div class="btn _dis-f">
            <span><i class="fa-solid fa-thumbs-up"></i></span>
            <span><i class="fa-solid fa-thumbs-down"></i></span>
            <span>Reply</span>
        </div>
    </div>
</div>