nz-footer {
  background-color: #192026;
  display: grid;
  place-items: center;
  padding: 20px 0px;
}

.logo {
  display: flex;
}

p,span,ul {
  color: #868683;
}
.film{
  color: #FF0000;
}
li{
  padding: 0px 10px;
}
