<nz-layout style="background-color: #192026;">
    <nz-header style="background-color: #192026;">
       <div class="container">
        <div class="logo"><h3><span>Nino</span><span class="film">Film</span></h3></div>   
        <ul>
            <li>Home</li>
            <li>Movie</li>
            <li>TV Show</li>
        </ul>
        <div class="search-hero">
            <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Search ">
            
          </div>
        </div>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
        <ng-container>
            <p>2022. Personal Project</p>
            <div class="logo"><h3><span>Nino</span><span class="film">Film</span></h3></div>   
        </ng-container>           
    </nz-footer>
</nz-layout>
