header {
  //background-color: #192026;
  color: #868686;
  align-items: center;
  padding-top: 15px;
}

.container {
  margin: 0 50px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.left {
  display: flex;
  font-size: 1.2rem;
}

.logo {
  img {
    width: 150px;
  }
}

.search-hero {
  position: relative;

  input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    //background: #374151;
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
  }

  .list-group {
    position: absolute;
    top: 104%;
    border-radius: 12px;
    //background-color: #374151;

    li {
      a {
        color: white;
        width: 100%;
        padding: 4px 0;
        display: block;
        transition: .5;

        &:hover {
          opacity: .8;
          background-color: #242b36;
          transition: .5;
        }
      }
    }
  }
}

nz-footer {
  display: grid;
  place-items: center;

  color: #868686;
}

p,
span,
ul {
  color: #868683;
}

li {
  padding: 0px 10px;
}

.list-group {
  position: absolute;
  border: 2px;
}