h1,
h3 {
  color: aliceblue;
  margin-bottom: 15px;
}

.container {
  margin: 0 235px;
  padding: 15px;

}

nz-carousel {
  text-align: center;
  height: 400px;
  width: auto;
  line-height: 160px;
  overflow: hidden;
}


.title {
  margin: 10px;
}

.detail {
  display: none;

}

.card-img:hover {
  opacity: 0.5;

  .detail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #17b8db;
    border: none;
    color: aliceblue;
    border-radius: 25px;
    display: block;

  }
}

.top-rated,
.new,
.recently-completed {
  width: calc(100%/3);
  padding: 0 12px;
}
.top-moive{
  margin: 80px 0;
}