.main {
  background-color: #192026;
  color: #868686;
}
h1,h3{
  color: aliceblue;
}
.container{
  margin: 0 50px;
  padding: 15px;
}
nz-carousel {
  text-align: center;
  height: 400px;
  width: auto;
  line-height: 160px;
  overflow: hidden;
}

.card-item {
  width: 200px;
  margin: 20px;
}
.title{
  margin: 10px;
}

