<div class="main-home _br-color">
    <div class="container">
        <div class="slide">
            <div class="tilte">
                <h1>Explore</h1>
                <p>What are you gonna watch today? </p>
            </div>
            <owl-carousel-o [options]="{items: 1,loop: true,autoplay: true}">
                <ng-container *ngFor="let item of array">
                    <ng-template carouselSlide>
                        <img src="https://www.themoviedb.org/t/p/w533_and_h300_bestv2/xGIeqQunSj5dxGZVKzNNr9W4vps.jpg"
                        width="100%" height="400px" style="object-fit: cover;">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="newRelease">
            <app-card title="New Release" [data]=data [customOptions]=customOptions></app-card>
        </div>
        <div class="upComing">
            <app-card title="Up Coming" [data]=data [customOptions]=customOptions></app-card>
        </div>
    </div>
</div>