

h1,
h3 {
  color: aliceblue;
}

.container {
  margin: 0 50px;
  padding: 15px;

}

nz-carousel {
  text-align: center;
  height: 400px;
  width: auto;
  line-height: 160px;
  overflow: hidden;
}


.title {
  margin: 10px;
}

.detail {
  display: none;

}

.card-img:hover {
  opacity: 0.5;
  .detail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #17b8db;
    border: none;
    color: aliceblue;
    border-radius: 25px;
    display: block;

  }
}