<nav class="navbar">
    <div class="container _dis-f _justify-content-between">
        <div class="left">
            <a href="" class="navbar-brand">
                <img src="https://uiparadox.co.uk/templates/animeloop/demo/assets/media/logo.png">
            </a>
        </div>
        <div class="right">
            <button class="menu-navbar" (click)="toggleNavbar()"><i class="fa-solid fa-bars"></i></button>
            <div [ngClass]="{'show': navbarOpen}">
                <ul class="list-items _dis-f">
                    <li><a href="" class="nav-item">Home</a></li>
                    <li><a href="" class="nav-item">Movie</a></li>
                    <li><a href="" class="nav-item">TV Show</a></li>
                    <li><a href="" class="nav-item">People</a></li>
                    <li>
                        <app-search></app-search>
                        <!-- <div class="search">
                            <form cForm class="d-flex" role="search">
                                <input class="me-2 _b-rd-10" type="text" (input)="onInputChange($event)"
                                    placeholder="Enter your Search">
                                <i #toggleButton (click)="onInputChange($event)" class="fa-solid fa-magnifying-glass"
                                    #search></i>
                            </form>
                            <ul class="list-group list-group-flush _b-rd-15" *ngIf="loading === true" #list>
                                <li class="list-group-item" *ngFor="let results of searchResults">
                                    <a class="" [routerLink]="'/movie/' + results['id']" (click)="loading=false">
                                        {{results.original_title}}</a>
                                </li>
                            </ul>
                        </div> -->
                    </li>
                    <li><a href="" class="nav-btn sign-up _b-rd-10">SIGN UP</a></li>
                    <li><a href="" class="nav-btn log-in _b-rd-10">LOG IN</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>