.navbar {
    background-color: #111111;
    font-weight: 700;
    font-size: 20px;
}

.container {
    justify-content: space-between;
    align-items: center;
    margin: 0px 235px;

    .right {
        align-items: center;
    }
}

a {
    color: #D4D4D4;

}

.nav-item:active {
    color: #f5cf49;
}

.nav-item:hover {
    color: #a958a5;
}

li {
    margin: 10px;


    .sign-up {
        font-size: 15px;
        border: #f5cf49 solid 2px;
        border-radius: 10px;
        padding: 5px 10px;

        &:hover {
            background-color: #f5cf49;
        }
    }

    .log-in {
        font-size: 15px;
        border: #a958a5 solid 2px;
        border-radius: 10px;
        padding: 5px 10px;

        &:hover {
            background-color: #a958a5;
        }
    }

}

.d-flex {

    background: #242424;

    .me-2 {
        border: none;
        background-color: #242424;
        border: #D4D4D4 solid 2px;
        border-radius: 10px;
        padding: 5px 30px;
        color: #d4d4d4d4;
    }

    ._p-5 {
        background: #242424;
        border-radius: 25px;
        padding: 0px 5px;
        border: 2px solid red;
    }
}

.list-group {
   // position: absolute;
    top: 104%;
    border-radius: 12px;
    background-color: #374151;
    width: 290px;

    li {
        a {
            color: white;
            width: 100%;
            padding: 4px 0;
            display: block;
            transition: .5;

            &:hover {
                opacity: .8;
                background-color: #242b36;
                transition: .5;
            }
        }
    }
}

.d-flex {

        position: relative;

    .fa-solid{
        position: absolute;
        color: aliceblue;
        right: 15px;
        top: 9px;
    }
}

.search-wrapper{
    position: relative;
    .list-group{
        position: absolute;
        background-color: #242424;
        z-index: 999;
        height: 300px;
        overflow: auto;
        margin-top: 10px;
    }
}
.back-to-top{
    color: black;
    background: #f5cf49;
    position: fixed;
    right: 30px;
    bottom: 50px;
    border-radius: 30px;
    padding: 10px 17px;
}