<div class="navbar">
    <div class="container _dis-f _p-30">
        <div class="left">
            <a href="" class="logo">
                <img src="https://uiparadox.co.uk/templates/animeloop/demo/assets/media/logo.png">
            </a>
        </div>
        <div class="right">
            <ul class="_dis-f">
                <li><a href="">Anime</a></li>
                <li><a href="">Movie</a></li>
                <li><a href="">Manga</a></li>
                <li><a href="">Page</a></li>
                <li><form cForm class="d-flex" role="search">
                    <span nz-icon nzType="search" nzTheme="outline"></span>
                    <input aria-label="Search" cFormControl class="me-2" placeholder="Search" type="search">
                </form></li>
                
                
                <li><div class="sign-up _p-5"><a href="">SIGN UP</a></div></li>
                <li><div class="log-in _p-5"><a href="">LOG IN</a></div></li>
                
                
            </ul>
            
        </div>
    </div>
</div>