@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'theme/mixin.scss';
/* You can add global styles to this file, and also import other style files */

$space-amounts: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 150, 200, 250, 300;

@each $item in $space-amounts {
    ._m-#{$item} {
        margin:#{$item}px;
    }

    ._p-#{$item} {
        padding: #{$item}px;
    }

    ._b-rd-#{$item} {
        border-radius: #{$item}px;
    }
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: #ffffff;
}

h1 {
    font-size: 70px;
    font-weight: 800;

}

h2 {
    font-size: 30px;
    font-weight: 800;
}

h3 {
    font-size: 20px;
}

li {
    font-size: 15px;
}

p {
    // color: #868686;
}

._br-color {
    background-color: #242424;
}

._dis-f {
    display: flex;
}

// :root {
//     --container-width: 80%;
// }

.owl-carousel .owl-nav {

    .owl-prev,
    .owl-next {
        background: none;
        margin: 0 30px;

        &:hover {
            background: none;
        }
    }
}

.section::-webkit-scrollbar {
    width: 10px;
    background-color: aqua;
}

/* ------------Responsive--------------- */
[class*="col-"] {
    float: left;

}

.row::after {
    content: "";
    display: table;
    // display: flex;
    // flex-wrap: wrap;
    clear: both;
}

/*---------Display---------*/
._dis-b {
    display: block;
}

._dis-f {
    display: flex;
}

._dis-i-b {
    display: inline-block;
}

._dis-i {
    display: inline;
}

._dis-n {
    display: none;
}

/*---------Font---------*/

._t-a-c {
    text-align: center;
}

._t-a-l {
    text-align: left;
}

._t-a-r {
    text-align: right;
}

._t-underline {
    text-decoration: underline;
}

._t-uppercase {
    text-transform: uppercase;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

._justify-content-between {
    justify-content: space-between;
}

._float-right {
    float: right;
}

.align-items-center {
    align-items: center;
}


$number-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@include tablet {
    .menu-navbar {
        display: block;
    }

    .list-items {
        display: none;
    }

    .container {
        width: 720px;
        padding: 0 20px;

        @each $item in $number-columns {
            .col-md-#{$item} {
                width:calc(100%*#{$item}/12);
            }
        }
    }

}

@include mobile {
    .container {
        padding: 0 10px;
        @each $item in $number-columns {
            .col-sm-#{$item} {
                width:calc(100%*#{$item}/12);
            }
        }
    }
    .menu-navbar {
        display: block;
    }
    .list-items {
        display: none;
    }
}
@include desktop {
    .menu-navbar {
        display: none;
    }
    .container {
        width: 1296px;
        @each $item in $number-columns {
            .col-#{$item} {
                width:calc(100%*#{$item}/12);
            }
        }
    }
}