<div class="main-movie _m-50">
    <div class="header-movie">
        <div class="poster _m-50 _dis-f">
            <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="">
            <div class="tilte-header _p-30">
                <div class="name-movie"><h1>{{movie.original_title}}</h1></div>
                <div class="date"><p>{{movie.release_date}}</p></div>
            </div>
        </div>
    </div>
   <a href="https://www.youtube.com/watch?v=wVDEuVefTvA">Watch Trailer</a>
    <div class="information-movie">
        <div class="overview">
            <h3>Overview</h3>
            <p>{{movie.overview}}</p>
        </div>
        <div class="popularity">
            <h3>Popularity</h3>
            <p>{{movie.popularity}}</p>
        </div>
        <div class="vote-Average">
            <h3>Vote Average</h3>
            <p>{{movie.vote_average}}</p>
        </div>
    </div>
    <iframe width="786" height="329" src="https://www.youtube.com/embed/euTxpe61NE8" title="Jersey Boys - Can&#39;t Take My Eyes Off You (The story of The Four Seasons) HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>