<div class="container">
    <div class="video _dis-f">
        <div class="trailer" *ngIf="key_movie">
            <iframe width="1280" height="700" [src]="getSafeUrl(key_movie)"
                title="Jersey Boys - Can&#39;t Take My Eyes Off You (The story of The Four Seasons) HD" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="detail _dis-f">
        <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="">
        <div class="content-movie">
            <h1>
                <p><b>{{movie.original_title}}</b></p>
            </h1>
            <h3>
                <p>{{movie.release_date}}</p>
            </h3>
            <p>{{movie.overview}}</p>
            <!-- <div class="name-movie">
                <h1><b>{{movie.original_title}}</b></h1>
            </div>
            <div class="date">
                <p>{{movie.release_date}}</p>
            </div>
            <p>{{movie.overview}}</p> -->
        </div>
        <div class="detail-movie">
            <p><b>Original Title</b><br>Meg 2: The Trench</p>
            <p><b>Status</b><br>Released</p>
            <p><b>Original Language</b><br>Tiếng Anh</p>
            <p><b>Budget</b><br>$129,000,000.00</p>
            <p><b>Revenue</b><br>$142,000,000.00</p>
        </div>
    </div>
    <div class="rating _dis-f">
        <div class="rating-score">
            <h3>RATE THE SHOW</h3>
            <div class="score">
                <p>YOUR RATING: _/10</p>
            </div>
        </div>
        <div class="rating-score">
            <h3>RATE THE SHOW</h3>
            <div class="score">
                <p>YOUR RATING: _/10</p>
            </div>
        </div>
        <div class="rating-score">
            <h3>RATE THE SHOW</h3>
            <div class="score">
                <p>YOUR RATING: _/10</p>
            </div>
        </div>
    </div>
</div>
<div class="container _dis-f">
    <div class="comment">
        <h1>COMMENTS</h1>
        <p>We hope you have a good time browsing the comment section!
            Please read our Comment Policy before commenting.</p>
        <ng-container *ngFor="let item of array">
            <app-comment></app-comment>
        </ng-container>
    </div>
    <div class="similar">
        <h1>SIMILAR</h1>
        <ng-container *ngFor="let item of data">
            <app-card-movie-small [id]="item['id']" [poster_path]="item['poster_path']"
                [original_title]="item['original_title']" (click)="reloadPage()">
            </app-card-movie-small>
        </ng-container>
    </div>
</div>