.blog-item {
    background: #111111;

    .blog-item-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
    }

    .content {
        padding: 30px 20px;

        h4 {
            margin-bottom: 20px;

            &:hover {
                color: blueviolet;
            }

        }

    }
}