<div class="heading"><h2>BLOGS</h2></div>
<div class="container _dis-f ">
    <ng-container *ngFor="let item of array">
        <div class="blog-item">
            <img class="banner-blog" src="https://image.tmdb.org/t/p/w400/azTC5osYiqei1ofw6Z3GmUrxQbi.jpg">
            <div class="detail">
                <div class="_dis-f">
                    <div class="movie-day">28 Nov 2022</div>
                    <p>Anime</p>
                </div>
                <div class="tilte"><h4>WHY ONE PIECE'S 948TH EPISODE</h4></div>
                <div class="author">
                    <img src="https://uiparadox.co.uk/templates/animeloop/demo/assets/media/comment/comment-img-2.png">
                    <p class="_p-10">Author Name</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>